services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: always
    security_opt:
      - no-new-privileges:true
    ports:
      - "127.0.0.1:9000:9000"
    volumes:
      - /run/user/1000/podman/podman.sock:/var/run/docker.sock:Z
      - ./portainer_data:/data:Z
    networks:
      - proxy

  traefik:
    image: traefik:latest
    container_name: traefik
    restart: always
    security_opt:
      - no-new-privileges:true
    network_mode: host
    command:
      - "--api.insecure=true"
      - "--providers.file.filename=/etc/traefik/dynamic.yaml"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
    volumes:
      - ./traefik_dynamic.yaml:/etc/traefik/dynamic.yaml:ro
      - ./traefik_data:/etc/traefik/data:Z

networks:
  proxy:
    driver: bridge
